{{#if this.isCustomHomepage}} 
  <section class="resources snipcss-aQjeH">
    <h2>Subscribers Around the World</h2>
    <div id="map" style="height: 500px;"></div> <!-- Make sure the container exists and is styled -->
  </section>
{{/if}}
